
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;500;600;700&display=swap");

body {
    background-image: url("https://cdn.pixabay.com/photo/2018/03/17/19/36/connection-3234929_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "Radio Canada", sans-serif;
  }
  
header{
  text-align: center;
  color:white;
  text-shadow: 1px 1px 2px black;
  font-size: 50px;
  margin:20px 0;
}
.box{
  display:flex;
  flex-direction:column;
  align-items: center;
  margin: 35px;
}
.row{
  display: flex;
  justify-content: center;
}
.btn{
  border:2px white;
  border-radius: 5px;
  width:75px;
  height:75px;
  font-size:50px;
  font-weight: 500;
  color:rgba(255,255,255,0.2);
  cursor:pointer;
  transition:background-color 0.3s;
  margin:5px;
}
.btn:hover{
  background-color: rgba(255,255,255,0.5);
}
.btn:disabled{
  color:black;
  cursor:no-drop;
}
.result-container{
  background-color: rgba(255,255,255,0.7);
  border: 2px white;
  width:200px;
  margin:0 auto;
  padding:10px;
  border-radius: 5px;
}
#result{
  font-size:25px;
  
}
.reset{
  text-align:center;
  margin-top:20px;
  
}
#resetBtn{
  border:5px black;
  background-color: white;
  color:black;
  padding:10px 20px;
  font-size:18px;
  cursor:pointer;
  border-radius:5px;
}
#resetBtn:hover{
  background-color:rgb(88, 88, 88);
  color:black;
}